@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

@font-face {
  font-family: "Almarai";
	
}

body {
	font-family: "Almarai",  sans-serif;
	font-size: 14px;
	color: #000;
}

header {
	background-color: #14100F;
	color: #FEDE0F;
}

header h1 {
	margin: 10px 0;
}

.minicons {
	margin: 10px 0 0 0;
}
#latest {
	margin: 0;
	background-color: #09090a;
}

#articulo h3{
	font-weight: 600;
}

#latest h1 {
	text-align: center;
	color: #FFFFFF;
	padding: 10px 0px 10px 0px;
}

hr{
	height: 5px;
	background-color: #000;
}

#articulo h1{
	 color: #ED1153;
	 margin: 10px 20px ;
	font-size: 20;
}

#articulo{
	margin-bottom: 50px;
}

#articulo h3{
	text-align: center;
	margin-top: 1%
}
.container{
	align-content: center;
}

.container h5{
	background-color: #000000;
	color: #FFFFFF;
	padding: 20px 5px;
	text-align: center;
}

#rosa {
	background-color: #ED1153;
	text-align: center;
	padding-top: 20px;
	color: #fff;
}

#logo {
margin-top: -70px;
}
.negro p{
	color: #FFFFFF;
	text-align: center;
}

footer {
	background-color: #000000;
	padding: 20px 5px;
}

#Name {
	padding-top: 5%;
	padding-bottom: 2%;
}

#Name h2 {
	font-size: 50px;
}

#Name h3 {
	letter-spacing: 3px;
}

.azulito{
	color: #116C78;
	font-weight: 500;
	
}

.gris{
	color: #605D5C;
}

.acerca p{
	font-weight: 30px;
	font-size: 20px;
	text-align: justify;
}

.parrafobio {
	font-size: 150%;
	text-align: justify;
	font-weight: 600;
	color: #4B4747;
}

.text-center{
	font-weight: 700;
	color: #4B4747;
}

.rojito {
	color:#9F2C4F;
}

.textleft {
	text-align: right;
}

#obras {
	
}

#obras {
	padding-bottom: 3%;
}

.azulon {
	color: #194998;
}

#Prizes {
	margin-bottom: 7%;
}

.artes{
	text-align: center;
}

#KH-P h1{
	margin: 40px 0; 
    display: inline-block; 
	font-size: 25px;
	font-weight: 700;
}

h4 {
font-size: 16px;
}

h6 {
font-size: 12px;
color: #909090;
}

.artes{
	padding-top: 30px;
	padding-bottom: 15px;
}

.row{
	padding-bottom: 35px;
}
.mini{
	color:#fff;
}
h4{
	padding-top: 15px;
}

.ACI {
	border-radius: 20px;
}

.radiant {
	margin: center
}


.radiant h1 {
    margin: 40px 0; 
    display: inline-block; 
	font-size: 25px;
	font-weight: 700;
}

.radiant img {
    margin-right: 10px; 
	margin-left: 10px;
}

.content { text-align: center;	
}

.content a { color: #ED1153;
}

.content img {  margin: 20px 0; 
}

.descrption {    
    margin-right: 5%;  
    margin-left: 5%;  
	margin-bottom: 100px;
}

.descrption h2 { color: #9F2C4F ;
	margin-top: 50px ;
}

.descrption h5 { color: #116C78;
}

.descrption p { font-size: 22px;
	margin-bottom: 50px ; 
}

.radiantbby{
	border-radius: 5%;
}

.navtxt{
	margin-top: 20px;
	font-size: 25px;
}

#bsm{
	margin-bottom: 3%;
	margin-top: 3%;
}

#lastcatgory{
	margin-bottom: 10%;
}

.ATI{
	border-radius: 20px;
}

.PAI{
	border-radius: 20px;
}

.margen-superior p{
	font-weight: 600;
	color: #191919;
}

#artbanner {
	background-color: #140505;
	margin: 0% 0%;
}
	
#artbanner h1{
	color: #FEDE0F;
	margin-left: 2%;
	font-weight: 700;
}

#artbanner h2{
	color: #fff;
	margin-left: 2%;
	padding-bottom: 1%;
	font-weight: 600;
}

#articulopar1{
	padding-top: 3%;
	background-color: #EFEFEF;
}

#articulopar2{
	background-color: #EFEFEF;
}

#articulopar3{
	background-color: #EFEFEF;
	padding-bottom: 5%
}

.owl-carousel .owl-dots {
    text-align: center;
}
.owl-carousel .owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba !important;
    border-radius: 50%;
    margin: 35px 6px;
}
.owl-carousel .owl-dot.active {
    background-color: #ED1153;
    border: 0 !important;
}

.small-btn{
	height:100%;
	width: 40%;
}

#head-tittle{
	
	text-align: center;
	margin-bottom: 50px;
}

#head-tittle h2{
	color: #116C78;
	font-weight: bolder;
}

#listaurbano img{
	width: 100%;
	
	align-content: center
}
#listaurbano h3{
	font-weight: bolder;
	color: #605D5C;
    
}
#listaurbano h4{
	font-weight: bolder;
    
}


#listaurbano{
	 
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 20px;
 
}

textarea {
  padding: 20px; 
}

#formsubm {
	margin-bottom: 80px;
}

#envsli h1, h4 {
	color: #4B4747;
	font-weight: 700;
	
}

#envsli {
	padding: 20px 0px;
}
#listaart h4 {
	text-align: justify;
	font-size: 175%;
	font-weight: 300;
	
}

#head-tittle h4 {
	font-size: 175%;
	font-weight: 500;
}

#listaart {
	padding: 50px 0px;
}